extends layout


block content
  if locals.currentUser 
    div.welcome-msg Welcome&nbsp; 
      p.username #{user.username}
  else 
    div.welcome-msg Become a member to see users and dates.

  if messages
    div.main-container 
      each message in messages
        div.message-container
          h3.message-title= message.title
          div.message-text= message.text
          if user && user.member
            div.sub-container
              h4.message-user= message.user.username
              div.message-date= message.date_formatted
          else 
            div.sub-container
              h4.message-user Anonymous 
              div.message-date Date: N/A
          if user && user.admin 
            div.delete-form 
              form(action='' method='POST')
                input#messageId(type='hidden', name='messageId', required='true', value=message._id)
                button(type='submit') DELETE MESSAGE
